name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    name: Build
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    strategy:
      fail-fast: true
      matrix:
        COMPILER:
          - CC: gcc
            CFLAGS: -O2 -Wall -Wextra -Werror -Wno-unknown-pragmas -Wno-unused-parameter -fvisibility=hidden
          - CC: clang
            CFLAGS: -O2 -Weverything -Werror -Wno-unknown-warning-option -Wno-unknown-pragmas -Wno-unused-parameter -Wno-unsafe-buffer-usage -Wno-strict-prototypes -Wno-switch-default -fvisibility=hidden
        CPPFLAGS:
          - ""
          - "-DMINIMALISTIC_BUILD"
    steps:
      - name: Check out source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install dependencies
        run: sudo apt-get -qq update && sudo apt-get install -y libev-dev

      - name: make
        run: make CPPFLAGS="${{ matrix.CPPFLAGS }}" CC=${{ matrix.COMPILER.CC }} CFLAGS="${{ matrix.COMPILER.CFLAGS }}"
